.Trash-0/
**/.ipynb_checkpoints/
assignment-1/starter/silver/**/*.parquet
assignment-1/starter/results/part1/*
!assignment-1/starter/results/part1/README.md
!assignment-1/starter/results/part1/analysis/
!assignment-1/starter/results/part1/trace_examples.json
.idea
.venv
.DS_Store
